{% extends "base.html" %}

{% block content %}
<form method ="post">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="username">Username</label>
                        <input type="text" name="username"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password</label>
                        <input type="password" name="password"/>
                </td>
            </tr>
            <tr>
                <td>        
                    <label for="verify">Verify Password</label>
                        <input name="verify" type="password"/>
                </td>
            </tr>
            <tr>
                <td>    
                    <label for="email">Email (optional)</label>
                        <input name="email" type-"email"/>
                </td>
            </tr>    
        </tbody>
    </table>        
    <input type="submit" value="Sign Up!"/>
</form>

{% endblock %}           