.error{
    color: crimson;
}
table {
    display: table;
    border-spacing: 2px;
    border-collapse: separate;
    border-color: grey;

}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color:grey;
}
td, th{
    display: table-cell;
    vertical-align: middle;
}
body{
    font: cursive;
    
}